<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<p>
  <strong>Film genre:</strong>
  <%= @movie.film_genre %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Actors:</strong>
  <%= @movie.actors %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @movie.desc %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @movie.comments %>
</p>

<p>
  <strong>Reports:</strong>
  <%= @movie.reports %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
